/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* styles */
body {
    background-color: #eee;
    font-family: "Roboto", sans-serif;
}
.main-header_logo {
    float: left;
}
.main-header_nav {
    float: right;
}
.main-header_nav > li {
    list-style: none;
    float: left;
    margin-left: 50px;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 1s ease;
}
.dropdown:hover .dropdown-menu {
    max-height: 1000px;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.main-header {
    line-height: 51px;
    margin-top: 50px;

}
.main-header .main-header_nav a {
    font-size: 18px;
    color: rgb(48, 48, 48);
}
.main-header a {
    text-decoration: none;
}
.main-header_logo {
    font-size: 48px;
    color: rgb(48, 48, 48);
    font-weight: 900;
}